In [1]:
import pandas as pd

In [21]:
df  = pd.read_csv("G:\\5th semester\\Machine Learning\\lab9\\adult.csv",header=None,na_values={' ?','?'},skipinitialspace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
2,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
4,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K

In [6]:
df.shape

(32561, 15)

In [8]:
df.drop_duplicates(inplace=True)

In [23]:
df.dropna(inplace=True, axis=0)

In [32]:
df[0][1]

KeyError: 1

occupation    1843
workclass     1836
dtype: int64
rows with any : 1843
rows with both: 1836