In [ ]:
import pandas as pd


df1 = pd.read_csv("G:\\5th semester\\Machine Learning\\hometasks\\student-mat.csv",delimiter=';')
df2 = pd.read_csv("G:\\5th semester\\Machine Learning\\hometasks\\student-por.csv",delimiter=';')

df1.head()

df2.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

TO make it binary we convert grade3 col into two values

In [16]:
threshold = 10

# Binarize G3 and rename for clarity
df1['passed_G3'] = (df1['G3'] >= threshold).astype(int)
df2['passed_G3'] = (df2['G3'] >= threshold).astype(int)

# Drop all original grade columns (G1, G2, and the now-redundant G3)
df1 = df1.drop(columns=['G1', 'G2', 'G3'])
df2 = df2.drop(columns=['G1', 'G2', 'G3'])

In [17]:
nominal_cols = [
    'school', 'sex', 'address', 'famsize', 'Pstatus',
    'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup',
    'famsup', 'paid', 'activities', 'nursery', 'higher', 
    'internet', 'romantic'  
]

df_encoded = pd.get_dummies(df1, columns=nominal_cols, drop_first=True)

In [18]:
df_encoded.shape

(395, 40)

In [20]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 40 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                395 non-null    int64
 1   Medu               395 non-null    int64
 2   Fedu               395 non-null    int64
 3   traveltime         395 non-null    int64
 4   studytime          395 non-null    int64
 5   failures           395 non-null    int64
 6   famrel             395 non-null    int64
 7   freetime           395 non-null    int64
 8   goout              395 non-null    int64
 9   Dalc               395 non-null    int64
 10  Walc               395 non-null    int64
 11  health             395 non-null    int64
 12  absences           395 non-null    int64
 13  passed_G3          395 non-null    int64
 14  school_MS          395 non-null    bool
 15  sex_M              395 non-null    bool
 16  address_U          395 non-null    bool
 17  famsize_LE3        395 non-null    bool
 18  Pstatus_T          395 non-null    bool
 19  Mjob_health        395 non-null    bool
 20  Mjob_other         395 non-null    bool
 21  Mjob_services      395 non-null    bool
 22  Mjob_teacher       395 non-null    bool
 23  Fjob_health        395 non-null    bool
 24  Fjob_other         395 non-null    bool
 25  Fjob_services      395 non-null    bool
 26  Fjob_teacher       395 non-null    bool
 27  reason_home        395 non-null    bool
 28  reason_other       395 non-null    bool
 29  reason_reputation  395 non-null    bool
 30  guardian_mother    395 non-null    bool
 31  guardian_other     395 non-null    bool
 32  schoolsup_yes      395 non-null    bool
 33  famsup_yes         395 non-null    bool
 34  paid_yes           395 non-null    bool
 35  activities_yes     395 non-null    bool
 36  nursery_yes        395 non-null    bool
 37  higher_yes         395 non-null    bool
 38  internet_yes       395 non-null    bool
 39  romantic_yes       395 non-null    bool
dtypes: bool(26), int64(14)
memory usage: 53.4 KB

In [26]:
df_encoded['passed_G3'].unique()

array([0])

In [23]:
from sklearn.model_selection import train_test_split
X = df_encoded.drop(columns=['passed_G3'])
y = df_encoded['passed_G3']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

clf = DecisionTreeClassifier(random_state=42)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 1.00

In [25]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(max_iter=1000, random_state=42)
log_reg.fit(X_train, y_train)
y_pred = log_reg.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: np.int64(0)